@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-custom-gray: #969493;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --text-custom-gray: var(--text-custom-gray);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {

  @font-face {
    font-family: "Harmond";
    src: url("/fonts/Harmond-ExtBdltaExp.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Harmond";
    src: url("/fonts/Harmond-ExtBdltaExp.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Harmond";
    src: url("/fonts/Harmond-ExtraBoldExpanded.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Harmond";
    src: url("/fonts/Harmond-SemBdltaCond.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Harmond";
    src: url("/fonts/Harmond-SemiBoldCondensed.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

#navbar>ul>li {
  color: #969493;
}

#navbar>ul>li:active {
  color: white;
  font: bold;
}


#backgroundImage {
  background-image: url("/Background.svg");
  background-size: cover;
}

.background2 {
  background-image: url("/background2.svg");
  background-size: cover;
}

#menuPage {
  background-image: url("/background-black.svg");
  background-size: cover;
}

#EventPageScroll::-webkit-scrollbar {
  display: none;
}

#photoGalleryScroll::-webkit-scrollbar {
  display: none;
}